.title {
  margin-bottom: 8px;
}

.form {
  font-size: 14px;
  font-weight: 400;
  color: #4a4f5d;
}

.validation__error,
.default {
  margin-top: 3px;
  margin-bottom: 30px;
}

.validation__error {
  font-size: 12px;
  font-weight: 400;
  color: #e32224;
  margin-left: 16px;
}

.default {
  display: block;
  width: 3px;
  height: 18px;
}

/* todo Container Confirm */
.container__confirm {
  display: block;
  margin-bottom: 42px;
}

.text__confirm {
  margin: 0 0 21px 0;
  max-width: 340px;
  font-size: 12px;
  line-height: 1.2;
}

.button__confirm {
  box-sizing: content-box;
  display: flex;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 14px;
  margin: 0 0 0 auto;
  padding: 9px 22px;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff1c1c;
  border: 1px solid #c01818;
  border-radius: 50px;
  cursor: pointer;
}

.button__confirm:hover,
.button__confirm:active {
  background-color: #7c1010;
}

/* todo */
.line {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 28px;
}

.container__disable {
  display: flex;
  opacity: 0.2;
  margin-bottom: 16px;
}

.lock__container {
  display: flex;
  align-items: baseline;
  margin-right: auto;
}

.lock {
  width: 14px;
  height: 20px;
  margin-left: 8px;
}

.arrow {
  height: 20px;
  width: 20px;
  margin-right: 14px;
  margin-left: 30px;
}

/* * Material UI */
.input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  cursor: text;
}

@media screen and (min-width: 768px) {
  .container__confirm {
    display: flex;
    margin-bottom: 32px;
  }

  .text__confirm {
    margin: 0 auto 0 0;
  }

  /* * Material UI */
  .input {
    height: 36px;
  }
}
