.icons__container {
  display: flex;
  width: 100%;
}

.icons__item {
  width: 33.3%;
  text-align: center;
}

.svg__icon {
  width: 31px;
  height: 31px;
}

.text__container {
  padding: 8px;
  margin-bottom: 16px;
}

.icon__text {
  font-size: 12px;
  line-height: 16px;
}
