.container {
  box-sizing: border-box;
  width: 100%;
  padding: 18px 21px 18px 25px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #f2f2f2;
  margin-bottom: 27px;
}

.buttons__container {
  display: flex;
}

.subtitle {
  margin-right: auto;
  font-size: 12px;
}

.show__button {
  display: flex;
  font-size: 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button__text {
  margin-right: 5px;
  text-decoration: underline;
}

.svg__container {
  position: relative;
  top: 15%;
}

.svg__arrow {
  height: 8px;
  width: 8px;
}

.main__container {
  text-align: left;
  padding-top: 7px;
}

.product__name {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 8px;
}
