.title__container,
.title2__container {
  display: flex;
  align-items: center;
}

.title__container {
  margin-bottom: 7px;
  padding: 0 7px;
}

.title2__container {
  padding: 0 21px 0 7px;
}

.title__email {
  margin-right: 6px;
}

.email {
  font-size: 14px;
  margin-right: auto;
}

.edit__button {
  margin-left: auto;
  padding: 0;
  border: 0;
  text-decoration: underline;
  background-color: #fff;
  cursor: pointer;
}

.cards__container {
  margin-left: auto;
}

.lock__container {
  display: flex;
  align-items: baseline;
  margin-right: auto;
}

.lock {
  width: 14px;
  height: 20px;
  margin-left: 8px;
}

.infonote__container {
  display: flex;
  justify-content: center;
  width: 245px;
  margin: 0 7px 14px auto;
}

.infonote {
  font-size: 12px;
  line-height: 1.2;
  color: #38393c;
}

.infonote::before {
  content: "\1f6c8\0000a0";
  font-size: 13px;
}

.line {
  display: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
}

.validation__error,
.default {
  margin-top: 3px;
  margin-bottom: 14px;
}

.chekbox__error {
  margin-top: 3px;
}

.validation__error,
.chekbox__error {
  font-size: 12px;
  font-weight: 400;
  color: #e32224;
  margin-left: 16px;
}

.default {
  display: block;
  width: 3px;
  height: 18px;
}

/* todo Buttons */
.buttons__container {
  display: flex;
  padding: 0 21px 0 7px;
  margin-bottom: 16px;
}

.tumbler,
.tumbler__active,
.paypal__active {
  box-sizing: content-box;
  width: calc(50% - 7px);
  height: 28px;
  padding: 2px 25px;
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  cursor: pointer;
}

.tumbler:not(:last-child),
.tumbler__active:not(:last-child) {
  margin-right: 16px;
}

.tumbler:active,
.tumbler:hover {
  border: 2px solid rgba(0, 0, 0, 0.4);
}

.tumbler__active,
.paypal__active {
  border: 2px solid #000;
}

.tumbler__active::before,
.paypal__active::before {
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #000;
  position: relative;
  bottom: -120%;
}

.tumbler__active::before {
  left: 25%;
}

.paypal__active::before {
  left: 16%;
  bottom: -105%;
}

/* todo Field Container */
.form {
  padding: 0 21px 0 7px;
}

.name__container,
.code__container {
  display: flex;
}

.field__container:nth-child(2n + 1) {
  margin-right: 14px;
}

.security__container {
  display: flex;
  align-items: center;
}

.question__icon {
  width: 18px;
  height: 18px;
  margin: 0 28px 0 21px;
  cursor: pointer;
}

.checkbox__container {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 7px;
  margin-bottom: 28px;
  background-color: #f6f7f9;
}

.into,
.into__error {
  display: flex;
  padding: 8px 16px 8px 21px;
}

.into {
  border: 1px solid #f6f7f9;
}

.into__error {
  border: 1px solid #e32224;
}

.checkbox__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
}

/* todo Button Confirm */
.container__confirm {
  display: flex;
  margin-bottom: 126px;
}

.text__confirm {
  font-size: 12px;
}

.button__confirm,
.button__order {
  display: none;
  box-sizing: content-box;
  width: 156px;
  margin: 8px 0 8px auto;
  padding: 9px 22px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #ff1c1c;
  border: 1px solid #c01818;
  border-radius: 50px;
  cursor: pointer;
}

.button__confirm:hover,
.button__confirm:active,
.button__order:hover,
.button__order:active {
  background-color: #7c1010;
}

.button__order {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
}

.field__container {
  width: 50%;
}

/* * Order Fixed */
.order__container {
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 14px 21px;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
}

.container__price {
  display: flex;
  margin: 0 30px 7px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
}

.total__subtitle {
  margin-right: auto;
}

.total__price {
  margin-left: auto;
}

.paypal__img {
  text-align: center;
  width: 78px;
  height: 22px;
}

/* * Material UI */
.input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  cursor: text;
}

.select {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  cursor: text;
  border: 1px solid #bdbdbd;
}

@media screen and (min-width: 768px) {
  .title__container {
    margin-bottom: 20px;
  }

  .line {
    display: block;
  }

  .tumbler,
  .tumbler__active,
  .paypal__active {
    width: 215px;
    height: 33px;
    padding: 2px 22px;
  }

  .tumbler__active::before {
    bottom: -105%;
  }

  .paypal__active::before {
    bottom: -90%;
  }

  .paypal__img {
    text-align: center;
    width: 90px;
    height: 24px;
  }

  .question__icon {
    margin: 0 28px 0 24px;
  }

  .checkbox__container {
    margin-bottom: 32px;
  }

  .checkbox__text {
    font-size: 14px;
  }

  .container__confirm {
    margin-bottom: 126px;
  }

  .button__confirm {
    display: block;
  }

  .order__container {
    display: none;
  }

  .input,
  .select {
    height: 36px;
  }
}
