.container {
  box-sizing: border-box;
  width: 100%;
  padding: 7px 22px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.content__container {
  box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.06), 4px 4px 12px rgba(0, 0, 0, 0.12);
}

.buttons__container {
  display: flex;
  padding: 7px;
}

.svg__arrow {
  height: 8px;
  width: 8px;
}

/* todo Title Container */
.title__container {
  display: flex;
  padding: 21px 21px 14px;
  margin-bottom: 37px;
  box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.06), 4px 4px 12px rgba(0, 0, 0, 0.12);
  border: 1px solid #d1cccc;
  border-radius: 12px;
}

.name__container {
  text-align: left;
  width: 75%;
}

.product__name {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 7px;
}

.quotes__container {
  box-sizing: border-box;
  text-align: right;
  margin-left: auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.product__price {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  padding-bottom: 7px;
  margin-bottom: 3px;
  border-bottom: 1px dashed #cdcdcd;
}

.product__tax {
  font-weight: 700;
  color: #15bc94;
}

.product__permonth {
  font-style: italic;
  color: #15bc94;
}

/* todo Article Container */
.article__container {
  text-align: left;
  padding: 0 21px 28px 21px;
  margin-bottom: 49px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.article__title {
  font-weight: 600;
  margin-bottom: 14px;
}

.price__container {
  display: flex;
  padding: 0 21px 35px 21px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.subtitles__container {
  margin-right: auto;
  text-align: left;
}

.sum__container {
  margin-left: auto;
  text-align: right;
}

.tax {
  font-weight: 12px;
}
